<div class="content-controls">

</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let user of users|paginate:{itemsPerPage:15,currentPage:a}">
            <td scope="row">{{user.id}}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.comment }}</td>
            <td>{{ user.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ user.updated_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <button  (click)="deletesupplier(user.id)">Delete</button>
            <button (click)="editsupplier(user.id,user)">Edit</button>
        </thead>
        <tbody>
        <tbody>
    </table>
        <pagination-controls (pageChange)="a=$event" class=""></pagination-controls>
</div>