<div class="form-style-2">
    <div class="form-style-2-heading">Role Based Permission</div>
    <form [formGroup]="permissionForm" (ngSubmit)="submitData()">
    <label for="field1"><span>Name <span class="required">*</span></span>
        <select class="select-field" formControlName="name">
            <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
          </select>
    </label>
<label for="fiel2"><span>Permissions</span></label>
<label for="read"><input type="checkbox" id="read" name="permissions" value="read" formControlName="read" />Read</label>
<label for="write"><input type="checkbox" id="write" name="permissions" value="write" formControlName="write" />Write</label>
<label for="disabled"><input type="checkbox" id="disabled" name="permissions" value="disabled" formControlName="disabled" />Disable</label>
    <label><span> </span><input type="submit"[disabled]="permissionForm.invalid" value="Submit" /></label>
    </form>
    </div>