<div class="content-controls">
</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Types</th>
            <th>Model</th>
            <th>Request Reason</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th>Status</th>
        </tr>   
        <tr *ngFor="let user of requestlist">
            <td scope="row" (click)="showrequest(user.id)">{{ user.type.name }}</td>
            <td>{{ user.model.name }}</td>
            <td>{{ user.requestreason }}</td>
            <td>{{ user.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ user.updated_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{user.status == '1' ? 'Accept' : user.status =='-1' ? 'Reject' : 'Pending'}}</td>
        </thead>
        <tbody>
        <tbody>