<div class="content-controls">
</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>E-Mail</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th *ngIf="getUserRole() === '1'"scope="col">Actions</th>
        </tr>   
        <tr *ngFor="let user of customers|paginate:{itemsPerPage:15,currentPage:a}">
            <td scope="row" >{{ user.id }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ user.updated_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td *ngIf="getUserRole() === '1'">
              <button  (click)="deleteUser(user.id)">Delete</button>
              <button (click)="editUser(user.id,user)">Edit</button></td>
        </tr>     
        </thead>
        <tbody>
        <tbody>
        </table>
          <pagination-controls (pageChange)="a=$event" class=""></pagination-controls>
          </div>

<!--   <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Customers_id</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th *ngIf="getUserRole() === '1'"scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of customers|paginate:{itemsPerPage:15,currentPage:a}">
            <td scope="row">{{user.id}}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td *ngIf="getUserRole() === '1'">
                <button  (click)="deleteUser(user.id)">Delete</button>
                <button (click)="editUser(user.id,user)">Edit</button></td>
          </tr>     
        </tbody>
      </table>
      <pagination-controls (pageChange)="a=$event" class="">
      </pagination-controls>
 -->