    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Customers_id</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th *ngIf="getUserRole() === 'admin'"scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of customers|paginate:{itemsPerPage:15,currentPage:a}">
            <td scope="row">{{user.id}}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td *ngIf="getUserRole() === 'admin'">
                <button  (click)="deleteUser(user.id)">Delete</button>
                <button (click)="editUser(user.id,user)">Edit</button></td>
          </tr>     
        </tbody>
      </table>
      <pagination-controls (pageChange)="a=$event" class="">
      </pagination-controls>
